{% extends 'base.html.twig' %}

{% block title %}{{'User password change' | trans}}{% endblock %}

{% block body %}
    <div class="conatiner">
        <h1 class="mt-4">{{'User Password Change Form' | trans}}</h1>

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}
    </div>
{% endblock %}
