{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
 <div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Modifier Salle</h1>
        </div>
        <div class="card-body ">
            {{ include('admin_room/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-primary">
            <a class="text-decoration-none text-light" href="{{ path('app_admin_room_index') }}">Retour</a>
        </button>
        {{ include('admin_room/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
