{% extends 'base.html.twig' %}

{% block title %}New EmpruntLivre{% endblock %}

{% block body %}
    <h1>Create new EmpruntLivre</h1>

    {{ include('emprunt_livre/_form.html.twig') }}

    <a href="{{ path('app_emprunt_livre_index') }}">back to list</a>
{% endblock %}
